.Anchorpane{
    -fx-background-color: #808080;
}
.button{
    -fx-font-family: "Droid Sans";
    -fx-font-size: 14;
    -fx-background-color: #fcb51d;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #fcbd36;
}

.button:pressed{
    -fx-background-color: #e29c03;
}

.button:focused{
    -fx-background-color: #e29c03;
    -fx-border-color: #CDD1D6;
    -fx-border-width: 0,0,0,3;
}

.label{
    -fx-font-family: "Droid Sans";
    -fx-text-fill: white;
    -fx-font-size: 18;
}
.topPane{
    -fx-background-color:  #e29c03;
}
.vbox{
    -fx-background-color: #fcb51d;
}